@media screen and (min-width: 1200px) {
  header {
    position: relative;
  }
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
  }
}
.header {
  position: relative;
}

.header-div {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 1200px) {
  .header-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 23px;
  }
}

.header-nav {
  display: none;
}
@media screen and (min-width: 1200px) {
  .header-nav {
    position: absolute;
    width: 766px;
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-left: 155px;
    margin-top: 20px;
  }
}

.hero {
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 330px;
  margin: 0 auto;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 556px;
    background-image: url(./img/donut-bg-desctop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero-title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
  width: 285px;
  margin: 0px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-family: "Montserrat Alternates";
    font-weight: 600;
    font-size: 60px;
    line-height: 65px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: left;
    width: 770px;
    margin-bottom: 35px;
  }
}

.hero-text {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: #3C322D;
  color: none;
  -webkit-text-decoration: center;
          text-decoration: center;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .hero-text {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 24px;
    line-height: 29.26px;
    letter-spacing: #3C322D;
    color: none;
    -webkit-text-decoration: left;
            text-decoration: left;
    text-align: left;
    margin-bottom: 35px;
  }
}

.hero-div {
  margin-bottom: 5px;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.hero-div > svg > use {
  fill: #3C322D;
}
.hero-div > svg > use:hover {
  fill: #F3848C;
}

@media screen and (min-width: 768px) {
  .header-div {
    padding-top: 24px;
  }
  .logo {
    width: 106px;
    height: 46px;
  }
}
.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: #F6F7F7;
  color: none;
  -webkit-text-decoration: center;
          text-decoration: center;
  text-align: left;
  text-align: center;
  color: #F6F7F7;
  background-color: #F3848C;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
          box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  margin-left: 25%;
  width: 145px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .btn {
    margin-left: 0%;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  padding: 15px 32px;
  background-color: #f5ecec;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    background-image: url(/img/tablet-circles/menu-hor.svg), url(/img/tablet-circles/menu-ver.svg);
    background-repeat: no-repeat;
    background-size: 713px 321, 912px 472px;
    background-position: 25px 640px, 222px 47px;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  width: 190px;
  margin: 10px auto;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.mobile-menu .link:focus {
  background-color: #fd588c;
  color: #F6F7F7;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.178), inset 0px 25px 20px -2px #F3848C;
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.178), inset 0px 25px 20px -2px #F3848C;
}

@media screen and (min-width: 768px) {
  .mobile-menu-el {
    padding-bottom: 295px;
    margin-top: 50px;
  }
  .mobile-menu .link {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
    width: 225px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-icon {
    margin: 0;
  }
  .hero {
    background-image: url(/img/tablet-circles/hero-circle.svg), url(/img/tablet-hero-bg.png);
    background-size: 100px 100px, cover;
    background-position: 268px 92px, center;
    padding: 95px 0 40px;
    margin-bottom: 36px;
    width: 100%;
  }
  .hero-text {
    text-align: start;
  }
  .hero-div {
    margin: 20px 0px 0px;
  }
}
.about-us {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-us .about-us-img {
  width: 280px;
  height: 285px;
}
.about-us .title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.about-us .about-us-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about-us .about-us-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: left;
  }
}
.about-us .about-us-text-2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  .about-us .about-us-text-2 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: left;
  }
}
.about-us .about-us-rm-decs {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  display: none;
}
@media screen and (min-width: 1200px) {
  .about-us .about-us-rm-decs {
    display: block;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 18px;
    line-height: 21.94px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: left;
  }
}
.about-us .about-us-rm {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .about-us .about-us-rm {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .about-us {
    background-image: url(/img/tablet-circles/about-us-bg.svg);
    background-repeat: no-repeat;
    background-position: top 55px left 416px;
    margin: 35px 0px 30px;
  }
  .about-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .about-us-img {
    width: 336px;
    height: 359px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about-us-cont {
    max-width: 608px;
  }
}
@media screen and (min-width: 768px) {
  .about-us-cont .title {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
    text-align: start;
    margin: 0px 0px 28px;
  }
  .about-us-cont .about-us-rm {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
  }
}
.about-us-img-daesctop {
  display: none;
}

@media screen and (min-width: 1200px) {
  .about-us-img {
    display: none;
  }
  .about-us-img-daesctop {
    display: block;
  }
}
.program .title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.program .program-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
}
.program .program-rm-decs {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  display: none;
}
@media screen and (min-width: 1200px) {
  .program .program-rm-decs {
    display: block;
  }
}
.program .program-rm {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
  padding-top: 10px;
}
.program .program-ul-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.program .program-ul-el .program-ul-el-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  height: 20px;
}
.program .program-ul-el > img {
  height: 24px;
  width: 24px;
}

@media screen and (min-width: 768px) {
  .program {
    padding: 50px 0px 20px;
    background-image: url(/img/tablet-circles/program-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
    padding: 50px 0px 20px;
  }
  .program .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .program .program-cont {
    width: 329px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .program .program-cont {
    width: 417px;
    height: 521px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 768px) {
  .program .program-cont .title {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
    text-align: start;
    margin: 0px 0px 28px;
  }
  .program .program-cont .program-rm {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .program .program-cont .program-rm {
    display: none;
  }
}
h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  overflow-clip-margin: content-box 0px;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
  cursor: default;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
}

p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

h4 {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}/*# sourceMappingURL=style.css.map */