.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    margin: 0 auto;
    padding: 0;
  }
}
.header {
  position: relative;
}

.header-div {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  gap: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav {
  display: none;
}

.hero {
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 330px;
  margin: 0 auto;
  padding-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-title {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 27px;
  line-height: 34px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
  width: 285px;
  margin: 0px;
}

.hero-text {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: #3C322D;
  color: none;
  -webkit-text-decoration: center;
          text-decoration: center;
  text-align: left;
  text-align: center;
  margin: 20px 0;
}

.hero-div {
  margin-bottom: 5px;
  width: 80px;
  margin: 0 auto;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
.hero-div > svg > use {
  fill: #3C322D;
}
.hero-div > svg > use:hover {
  fill: #F3848C;
}

@media screen and (min-width: 768px) {
  .header-div {
    padding-top: 24px;
  }
  .logo {
    width: 106px;
    height: 46px;
  }
  .hero {
    background-image: url(/img/tablet-circles/hero-circle.svg), url(/img/tablet-hero-bg.png);
    background-size: 100px 100px, cover;
    background-position: 268px 92px, center;
    padding: 95px 0 40px;
    margin-bottom: 36px;
    width: 100%;
  }
  .hero-text {
    text-align: start;
  }
  .hero-div {
    margin: 20px 0px 0px;
  }
}
.btn {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: #F6F7F7;
  color: none;
  -webkit-text-decoration: center;
          text-decoration: center;
  text-align: left;
  text-align: center;
  color: #F6F7F7;
  background-color: #F3848C;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
          box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
  margin-left: 25%;
  width: 145px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .btn {
    margin-left: 0%;
  }
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  padding: 15px 32px;
  background-color: #f5ecec;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    background-image: url(/img/tablet-circles/menu-hor.svg), url(/img/tablet-circles/menu-ver.svg);
    background-repeat: no-repeat;
    background-size: 713px 321, 912px 472px;
    background-position: 25px 640px, 222px 47px;
  }
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  width: 190px;
  margin: 10px auto;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.mobile-menu .link:focus {
  background-color: #fd588c;
  color: #F6F7F7;
  -webkit-box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.178), inset 0px 25px 20px -2px #F3848C;
          box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.178), inset 0px 25px 20px -2px #F3848C;
}

@media screen and (min-width: 768px) {
  .mobile-menu-el {
    padding-bottom: 295px;
    margin-top: 50px;
  }
  .mobile-menu .link {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.03px;
    color: #3C322D;
    text-decoration: none;
    text-align: center;
    width: 225px;
    margin: 20px auto;
  }
}
@media screen and (min-width: 768px) {
  .about-us {
    padding-bottom: 30px;
  }
  .about-us .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .about-us .about-us-img {
    width: 336;
  }
  .about-us .about-us-text .title {
    text-align: start;
  }
  .about-us .about-us-text .about-us-rm-decs {
    margin-bottom: 28px;
  }
}
.about-us {
  margin-top: 20px;
  background-image: url(/img/mobile-circles/about-us\ decor.png);
  background-repeat: no-repeat;
  background-position: 20% 340px;
  margin-bottom: 20px;
}
.about-us .about-us-img {
  width: 280px;
  height: 285px;
}
.about-us .title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.about-us .about-us-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
}
.about-us .about-us-text-2 {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
}
.about-us .about-us-rm-decs {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  display: none;
}
.about-us .about-us-rm {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .program {
    padding: 50px 0px 20px;
  }
  .program .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
  .program .program-cont {
    width: 329px;
  }
  .program .program-cont .title {
    text-align: start;
    margin: 0px 0px 28px;
  }
}
.program {
  background-image: url(/img/mobile-circles/program\ decor.png);
  background-repeat: no-repeat;
  background-position: 6px 0;
}
.program .program-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.program .title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.program .program-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
}
.program .program-rm-decs {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  display: none;
}
.program .program-rm {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.program .program-ul-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.program .program-ul-el .program-ul-el-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
  height: 20px;
}
.program .program-ul-el > img {
  height: 24px;
  width: 24px;
}

.program-imgs .program-imgs-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.program-imgs .program-imgs-title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #F6F7F7;
  text-decoration: none;
  text-align: center;
}
.program-imgs .program-imgs-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #F6F7F7;
  text-decoration: none;
  text-align: center;
}
.program-imgs .program-imgs-el:nth-child(1) {
  background-image: url(/img/Type\ of\ the\ event.png);
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .speakers {
    padding: 20px 0px 77px;
  }
  .speakers-ul_el {
    width: 152px;
  }
  .speakers-ul_el img {
    width: 152px;
  }
}
.speakers {
  background-image: url(/img/mobile-circles/speakers\ decor.png);
  background-repeat: no-repeat;
  background-position: 130px 20px;
}

.title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.speakers-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.speakers-ul_el > div > img {
  width: 130px;
  height: 145px;
}
.speakers-ul_el > h3 {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.speakers-ul_el > p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
  width: 130px;
}

@media screen and (min-width: 768px) {
  .price {
    padding-bottom: 80px;
  }
  .price-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
  .price-ul_el {
    width: 225px;
  }
}
.title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.price {
  background-image: url(/img/mobile-circles/price\ decor.png);
  background-repeat: no-repeat;
  background-position: 20px 0px;
}

.price-ul {
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price-ul .price-ul_el {
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.226);
  color: #F6F7F7;
}
.price-ul .price-ul_el > button {
  margin-bottom: 30px;
}
.price-ul .price-ul_el > h3 {
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}
.price-ul .price-ul_el .choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.price-ul .price-ul_el .choice .choice_el {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: left;
}

.price-ul_el:nth-child(3), .price-ul_el:nth-child(2) {
  background-image: url(/img/price-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 85%;
}

p {
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
  -webkit-margin-after: 0em;
          margin-block-end: 0em;
}

.participants_el:nth-child(2n+1) {
  display: none;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 80px;
  }
  .participants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
    padding: 0px;
  }
  .participants_el-w {
    margin-top: 75px;
  }
  .participants_el-w img {
    width: 336px;
    height: 336px;
  }
  .participants_el:nth-child(2n+1) {
    display: block;
  }
  .participants_el:nth-child(2n+1) img {
    width: 151px;
    height: 151px;
  }
  .reviews-p {
    text-align: center;
    margin: 0px;
  }
}
.title {
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 23px;
  line-height: 30px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.participants :nth-child(2) > img {
  border-radius: 50%;
}
.participants :nth-child(2) > p {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.reviews-p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto;
  width: 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .decor-line {
  height: 1px;
  width: 35px;
  background-color: #F3848C;
}
.slider > p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03px;
  color: #3C322D;
  text-decoration: none;
  text-align: center;
}

h5 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

img {
  overflow-clip-margin: content-box 0px;
}

a {
  text-decoration: none;
  color: var(--fourth-color);
  cursor: default;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  list-style: none;
}/*# sourceMappingURL=style.css.map */