@import "./utilts/vars","./utilts/mixins", "./components/header", "./components/about-us";

h5{
    margin-block-start: 0;
    margin-block-end: 0 ;
}
img{
    overflow-clip-margin: content-box 0px;
}
a{
    text-decoration: none;
    color: var(--fourth-color);
    cursor: default;
}
ul{
    padding-inline-start: 0px;
}
li{
    list-style: none;
}