@import "./utilts/vars", "./components/header", "./components/hero", "./components/about-us", "./components/program", "./components/speakers", "./components/price",
"./components/reviews", "./components/registration", "./components/contacts";


li{
    list-style-type: none;
}
@media screen and (min-width:768px){
    .container{
        width: 704px;
        margin: 0 auto;
        padding: 0;
    }
}
