.about-us{
    margin-top: 20px;
    background-image: url(/img/mobile-circles/about-us\ decor.png);
    background-repeat: no-repeat;
    background-position: 20% 340px ;
    margin-bottom: 20px;
   & .about-us-img{
        width: 280px;
        height: 285px;
    }
    & .title{
        @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
    }
    & .about-us-text{
        @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
        margin-bottom: 20px;
        @media screen and (min-width:1200px){
            @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text,none, left);  
        }
    }
    & .about-us-text-2{
        @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
        @media screen and (min-width:1200px){
            @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text,none, left);  
        }
    }
    & .about-us-rm-decs{
        @include txt("Montserrat", 400, 18px, 22px, 0.03px, $dark-text,none, left);   
        display: none;
        @media screen and (min-width:1200px){
            display: block;
            @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text,none, left);  
        }
    }
    & .about-us-rm{
        @include txt("Montserrat", 500, 16px, 20px, 0.03px, $dark-text,none, center);   
        @media screen and (min-width:1200px){
            display: none;
        }
    }
    
}
@media screen and (min-width:768px){
    .about-us{
        background-image: url(/img/tablet-circles/about-us-bg.svg);
        background-repeat: no-repeat;
        background-position: top 55px left 416px;
        margin: 35px 0px 30px;
        & .container{
            display: flex;
            gap: 32px;
        }
    }
    .about-us-img{
            width: 336px;
            height: 359px;
        }
    .about-us-cont{
        @media screen and (min-width:1200px){
            max-width: 608px;
        }
        & .title{
            @include txt("Montserrat Alternates", 500, 32px, 30px, 0.03px, $dark-text,none, center);
            text-align: start;
            margin: 0px 0px 28px;
        }
        & .about-us-rm{
            @include txt("Montserrat", 500, 18px, 20px, 0.03px, $dark-text,none, center);   
        }
    }
}
.about-us-img-daesctop{
    display: none;
}
@media screen and (min-width:1200px){
.about-us-img{
    display: none;
}
    .about-us-img-daesctop{
        display: block;
    }
}

