.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
}
.contact-cont{
    & >p{
        @include txt("Montserrat", 400, 16px, 30px, 0.03px, $dark-text,none, center);   
    }
    & >button{
        margin-top: 30px;
    }
    & .contact-form{
        margin-left: 3%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        & >input{
            background-color: inherit;
            border: none;
            width: 265px;
            border-bottom: 1px solid $dark-text;
            &::placeholder{
                @include txt("Montserrat", 400, 16px, 20px, 0.03px, rgba(60, 50, 45, 0.7),none, left);  
                
            }
        }
    }

}
.contact{
    background-image: url(/img/mobile-circles/contact\ decor.png);
    background-repeat: no-repeat;
    background-position: 30px -40px;
}

.social-links{
    margin-bottom: 5px;
    width: 80px;
    margin: 30px auto;
      display: flex;
      gap: 15px;
   & .place-icon{
        >use{
        fill: $dark-text;
            &:hover{
            fill: $pink-col;
            }
        }
   }
}

.foot-text{
    display: flex;
    margin: 0;
    justify-content: space-between;
    & .foot-text_el{
        >a{
            @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, right);   

        }
    }
}
.footer-donuts{
  margin-left: 40%;
}
@media screen and (min-width:768px){
    .contact{
        padding-bottom:50px;
        background-image: url(/img/tablet-circles/contact-circle.svg);
        background-position: 73px 20px;
    }
    .contact-cont{
        width: 336px;
        margin: 0 auto;
        & .contact-form{
            & >input{
                width: 336px;
                border-bottom: 1px solid $dark-text;
                &::placeholder{
                    @include txt("Montserrat", 400, 16px, 20px, 0.03px, rgba(60, 50, 45, 0.7),none, left);  
                    
                }
            }
        }
        & .btn{
            margin: 30px 95px;
        }
    }
    .foot-text{
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
    }
    .footer-donuts{
        display: none;
    }
}