.header{
  position: relative;
}
header{
  @media screen and (min-width:1200px){
    position: relative;
    }
}
.container{
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width:768px){
  .container{
      width: 704px;
      margin: 0 auto;
      padding: 0;
  }
  @media screen and (min-width:1200px){
    .container{
      width: 1280px;
      margin: 0 auto;
      padding: 0 16px;
    }
  }
}

.header-div{
  position: absolute;
  margin: 0 auto;
  width: 100%;
  top: 0;
  gap: 100px;
  display: flex;
}
.header-ul{
  @media screen and (min-width:1200px){
    display: flex;
    flex-direction: row;
  }
}
.header-nav{
  display: none;
  @media screen and (min-width:1200px){
    position: absolute;
    width: 766px;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 155px;
    margin-top: 20px;
  }
}
.hero{
  background-image: url(/img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 320px;
  height: 330px;
  margin: 0 auto;
  padding-top: 85px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width:1200px){
    height: 556px;
    background-image: url(./img/donut-bg-desctop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
 .hero-title{
    @include txt("Montserrat Alternates", 600, 27px, 34px, 0.03px, $dark-text,none, center);   
    width: 285px;
    margin: 0px;
    @media screen and (min-width:1200px){
      @include txt("Montserrat Alternates", 600, 60px, 65px, 0.03px, $dark-text,none, left);  
      width: 770px;
      margin-bottom: 35px;
    }
  }
 .hero-text{
  margin: 20px 20%;
    @include txt("Montserrat Alternates", 500, 16px, 20px, $dark-text,none,center);
    @media screen and (min-width:1200px){
      @include txt("Montserrat Alternates", 500, 24px, 29.26px, $dark-text,none,left);
      margin-bottom: 35px;
    }  
  }
  .hero-div{
    
    margin-bottom: 5px;
    width: 80px;
    margin: 30px auto;
      display: flex;
      gap: 15px;
   >svg{
    >use{
    fill: $dark-text;
    &:hover{
      fill: $pink-col;
    }
    }
   }
  
  }
  @media screen and (min-width:768px){
    .header-div{
      justify-content: space-between;
      padding-top: 24px;
    }
    .logo{
      width: 106px;
      height: 46px;
    }
  }
  @media screen and (min-width:1200px){
    .logo{
      margin-top: 10px;
    }
  }
  .hero{
    background-image:url(/img/tablet-circles/hero-circle.svg), url(/img/tablet-hero-bg.png);
    background-size: 100px 100px, cover;
    background-position: 268px 92px, center;
    padding: 95px 0 40px;
    margin-bottom: 36px;
    width: 100%;
}
.hero-text{
  text-align: start;
}
// .hero-div{
//   margin: 20px 0px 0px;
// }
.btn{
    @include txt("Montserrat", 400, 18px, 22px, $white-col,none, center);
    text-align: center;
    color: $white-col;
    background-color: $pink-col;
    border: none;
    border-radius: 25px;
    box-shadow: 10px 15px 25px 0px rgba(232, 183, 183, 0.45);
    margin-left: 25%;
    width: 145px;
    height: 40px;
}

.btn:hover {
  background-color: #ffffff; 
  color: $pink-col;
  border: 2px solid $pink-col; 
}

.btn:active {
  color: $white-col;
  background-color: $pink-col;  
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2),
   inset 0 -1px 2px rgba(255, 255, 255, 0.5), 
  10px 15px 25px 0px rgba(232, 183, 183, 0.45); 
}
@media screen and (min-width:768px){
  .btn{
    margin-left: 0%;
    margin-top: 25px;
  }
}






.menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    margin-right: 5%;
  }
}
@media (min-width: 1200px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 200vh;
  padding: 15px 32px;
  background-color:    #f5ecec;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
@media screen and (min-width:768px){
  .menu-container{
    background-image: url(/img/tablet-circles/menu-hor.svg), url(/img/tablet-circles/menu-ver.svg);
    background-repeat: no-repeat;
    background-size: 713px 321, 912px 472px;
    background-position: 25px 640px, 222px 47px;
    
  }
}
.menu-container.is-open {
  transform: translateX(0); 
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #000000;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  width: 190px;
  margin: 10px auto;
  @include txt("Montserrat Alternates", 500, 28px, 34px, 0.03px, $dark-text, none, center);   
}
// #fd588c
.mobile-menu .link:focus{
  background-color: #fd588c;
  color: $white-col;
  box-shadow:
  0px 2px 10px 1px rgba(0, 0, 0, 0.178),
  inset  0px 25px 20px -2px $pink-col ;

}
@media screen and (min-width:768px){
  .mobile-menu-el{
    padding-bottom: 295px;
    margin-top: 50px;
  }
  .mobile-menu .link {
    @include txt("Montserrat Alternates", 500, 40px, 48px, 0.03px, $dark-text, none, center); 
    width: 225px;
    margin: 20px auto;

  }
}
.header-li{
  padding: 8px 9px 8px 8px;
  >a{
    @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text, none, left); 
    padding: 8px 9px 8px 8px;
  }
  &:hover{
    background-color: $pink-col;
    padding: 8px 9px 8px 8px;
    background-color: #fd588c;
    color: $white-col;
    box-shadow:
    0px 2px 10px 1px rgba(0, 0, 0, 0.178),
    inset  0px 25px 20px -2px $pink-col ;
    >a{
      &:hover{
        @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $white-col, none, left); 
        color: $white-col;
      }
    }
  }
}
@media screen and (min-width:1200px){
  .menu-container {
    display: none;
  }
  .hero{
    background-image:url(/img/desc-circles/header-cirle.svg);
    background-position: 268px 92px;
    background-size: contain;
}
}