.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   

}
.price{
    
    background-image: url(/img/mobile-circles/price\ decor.png);
    background-repeat: no-repeat;
    background-position: 20px 0px;
}
.price-ul{
    margin-top: 30px;
    position: relative;
    display: flex;
    gap: 50px;
    flex-direction: column;
    & .price-ul_el{
        border-radius: 25px;
        box-shadow: 3px 3px 10px  rgba(0, 0, 0, 0.226);
        color: $white-col;
        >button{
            margin-bottom: 30px;
        }
        >h3{
            @include txt("Montserrat Alternates", 600, 18px, 22px, 0.03px, $dark-text,none, center);   
        }
        & .choice{
            display: flex;
            flex-direction: column;
            gap: 20px;
            & .choice_el{
                
                margin-top: 0;
                margin-bottom: 0;
                margin-left: 5px;
                display: flex;               
                 gap: 10px;
                 align-items: center;
                @include txt("Montserrat", 400, 18px, 22px, 0.03px, $dark-text,none, left);   

            }
        }
    }
}
.price-ul_el:nth-child(3), .price-ul_el:nth-child(2){
background-image: url(/img/price-bg.png);
background-repeat: no-repeat;
background-size: contain;
background-position: 0% 85%;
}
p{
    margin-block-start: 0em;
                margin-block-end: 0em;
}
@media screen and (min-width:768px) {
    .price{
        padding-bottom: 80px;
        background-image: url(/img/tablet-circles/price-bg.svg), url(/img/tablet-circles/price-bg-donut.svg);
        background-position: top left, 332px 615px;
        background-repeat: no-repeat;
    }
    .price-ul{
        display: flex;
        gap: 15px;
        flex-direction: row;
        &_el{
            width: 225px;
            height: 580px;
            padding: 0px 5px;
            position: relative;
        }
        & .price-ul_el{
            background-image: url(/img/price-bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: 0% 340px;
            // &:nth-child(2){
            //     position: relative;
            //     z-index: 2;
            // }
            >button{
                position: absolute;
                bottom: 20px;
                left: 40px;
                margin: 0
            }
            >h3{
                @include txt("Montserrat Alternates", 600, 18px, 22px, 0.03px, $dark-text,none, center);   
            }
            & .choice{
                gap: 7px;
                & .choice_el{
                    @include txt("Montserrat", 400, 16px, 22px, 0.03px, $dark-text, none, left);
                }
            }
        }
    }
    
}