@media screen and (min-width:768px) {
    .price{
        padding-bottom: 80px;
    }
    .price-ul{
        display: flex;
        gap: 15px;
        &_el{
            width: 225px;
        }
    }
}