    .program{
        background-image: url(/img/mobile-circles/program\ decor.png);
        background-repeat: no-repeat;
        background-position: 6px 0;
       & .program-ul{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        & .title{
       @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
       }
       & .program-text{
        @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
      }
      & .program-rm-decs{
        @include txt("Montserrat", 400, 18px, 22px, 0.03px, $dark-text,none, left);   
        display: none;
        @media screen and (min-width:1200px){
          display: block;
          }
      }
      & .program-rm{
        @include txt("Montserrat", 500, 16px, 20px, 0.03px, $dark-text,none, center);   
      }
    & .program-ul-el{
         display: flex;
         gap: 10px;
         align-items: center;
         & .program-ul-el-text{
            @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
            height: 20px;
         }
         >img{
            height: 24px;
            width: 24px;
         }
    }
   }
   .program-imgs{
    & .program-imgs-ul{
        display: flex;
        flex-wrap: wrap;
    }
    & .program-imgs-title{
        @include txt("Montserrat Alternates", 500, 16px, 20px, 0.03px, $white-col,none, center);   
    }
    & .program-imgs-text{
        @include txt("Montserrat", 400, 15px, 20px, 0.03px, $white-col,none, center);   

    }
 
    & .program-imgs-el:nth-child(1){
        background-image: url(/img/Type\ of\ the\ event.png); 
        background-size: no-repeat;
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 200px;

    }
   }
//    p{
//     margin-block-start: 0em;
//     margin-block-end: 0em;
//    }
@media screen and (min-width:768px){
  .program{
    padding: 50px 0px 20px;
    background-image: url(/img/tablet-circles/program-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
      padding: 50px 0px 20px;
      & .container{
          display: flex;
          gap: 32px;
      }
      & .program-ul{
        gap: 20px;
        margin-bottom: 30px;
      }
      & .program-cont{
          width: 350px;
        & .title{
          @include txt("Montserrat Alternates", 500, 32px, 30px, 0.03px, $dark-text,none, center);
          text-align: start;
          margin:0px 0px 28px;
        }
      }
      .program-rm{
        @include txt("Montserrat", 500, 18px, 20px, 0.03px, $dark-text,none, center);
        }
        .program-imgs {
          width: calc(100% - 350px - 32px);
        }
        & .program-imgs-el{
          height: 152px;
          width: 152px;
          &:nth-child(1){
            height: 152px;
            width: 152px;
    
        }
      }
  }
      
}