    .program{
        background-image: url(/img/mobile-circles/program\ decor.png);
        background-repeat: no-repeat;
        background-position: 6px 0;
       & .program-ul{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding-bottom: 20px;
        }
        & .title{
       @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
       }
       & .program-text{
        @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
        @media screen and (min-width:1200px){
          @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text,none, left);   
        }
      }
      & .programContent{
        @include txt("Montserrat", 400, 18px, 22px, 0.03px, $dark-text,none, left);   
        display: none;
        @media screen and (min-width:1200px){
          display: block;
          }
      }
      & .programContent.show {
        display: block;
      }
      & #programClickableText{
        >p{
          @include txt("Montserrat", 500, 16px, 20px, 0.03px, $dark-text,none, left);   
          @media screen and (min-width:1200px){
            display: none;
        }
        }
      }
    & .program-ul-el{
         display: flex;
         gap: 10px;
         align-items: center;
         & .program-ul-el-text{
            @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, left);   
            height: 20px;
            @media screen and (min-width:1200px){
              @include txt("Montserrat", 400, 18px, 21.94px, 0.03px, $dark-text,none, left);   
            }
         }
         >img{
            height: 24px;
            width: 24px;
         }
    }
   }
   .program-imgs{
    
    & .program-imgs-ul{
        display: flex;
        flex-wrap: wrap;
       gap: 20px;
       padding-bottom: 20px;
     }
    & .program-imgs-title{
        @include txt("Montserrat Alternates", 500, 13px, 17px, 0.03px, $white-col,none, center);   
        position: relative;
        width: 129px;
        z-index: 2;
       }
    & .program-imgs-text{
       @include txt("Montserrat", 400, 12px, 15px, 0.03px, $white-col,none, center); 
       position: relative;
       z-index: 2;
      }
& .program-imgs-el{
 border-radius: 50%;
 overflow: hidden;
 width: 130px;
 height: 130px;
 position: relative;
 border: 2px solid #f0a0a0;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 &::before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: linear-gradient(0.1deg, #000000 -10.83%, rgba(156, 156, 156, 0) 78.01%);
   z-index: 1;
}
 &:nth-child(2n){
         top: 20px;
       }
    & >img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
    
     & .program-imgs-div{
       position: absolute;
       bottom: 25px;
       left: 0;
       right: 0;
     }
 }
}
@media screen and (min-width:768px){
  .program{
    padding: 50px 0px 20px;
    background-image: url(/img/tablet-circles/program-bg.svg);
    background-repeat: no-repeat;
    background-position: top right;
      padding: 50px 0px 20px;
      & .container{
          display: flex;
          gap: 32px;
      }
      & .program-ul{
        gap: 20px;
        margin-bottom: 30px;
      }
      & .program-cont{
          width: 350px;
        & .title{
          @include txt("Montserrat Alternates", 500, 32px, 30px, 0.03px, $dark-text,none, center);
          text-align: start;
          margin:0px 0px 28px;
        }
      }
      #programClickableText{
        @include txt("Montserrat", 500, 18px, 20px, 0.03px, $dark-text,none, center);
        }
        .program-imgs {
          display: flex;
          flex-wrap: wrap;
          width: calc((100% - 32px) /2);
        }
        & .program-imgs-el{
          height: 152px;
          width: 152px;
          &:nth-child(1){
            height: 152px;
            width: 152px;
    
        }
      }
  }
      
}
@media screen and (min-width:1200px){
.program-rm{
  display: none;
}
.program{
  max-height: 800px;
  padding: 200px 0px 20px;
  margin-bottom: 50px;
  background-image: url(/img/desc-circles/program-circle.svg);
  background-position: 420px 30px;
  background-repeat: no-repeat;
}
      .program-imgs{
          margin-left: 15%;
        & .program-imgs-ul{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding-bottom: 20px;
         }
         & .program-imgs-el{
          width:  288px;
          height: 288px;
           &:nth-child(2n){
             top: 60px;
             left: 120px;
           }
          & .program-imgs-title{
            @include txt("Montserrat Alternates", 500, 24px, 30px, 0.03px, $white-col,none, center);  
            margin-left: 10%; 
            position: relative;
            width: 220px;
           }
        & .program-imgs-text{
           @include txt("Montserrat", 400, 16px, 20px, 0.03px, $white-col,none, center); 
           position: relative;
           &:first-child{
            padding-bottom: 50px;
           bottom: -50px;
          }
          }
          &:nth-child(1){
              height: 288px;
              width:  288px;
         }
         & .program-imgs-div{
          bottom: 50px;
        
        }
      }
    }
  }
