@media screen and (min-width:768px){
    .regis-cont{
        display: flex;
        gap: 32px;
        height: 246px;
        padding: 40px 40px 32px 62px;
        background-image:url(/img/register-donuts.svg), url(/img/decor-reg.png), url(/img/donut-bg.png);
        background-repeat: no-repeat;
        background-size: 100px 66px, contain, contain;
        background-position: 23px 160px, left, right;
        }
    .register{
        display: flex;
        flex-direction: column;
        width: 283px;
        padding-bottom: 24px;
    }
    .form-cont{
        padding-left: 23px;
        border-left: 2px solid rgba($color: #000000, $alpha: 0.5);
        & h3{
            margin: 0px 0px 16px;
        }
    }
}