.participants_el:nth-child(2n+1){
    display:none;
}
@media screen and (min-width:768px){
    .reviews{
        padding-bottom: 80px;
    }
    .participants{
        display: flex;
        gap: 32px;
        padding: 0px;
        &_el-w{
            margin-top: 75px;
            & img{
                width: 336px;
                height: 336px;
            }
        }
        &_el:nth-child(2n+1){
            display:block;
            & img{
                width: 151px;
                height: 151px;
            }
        }
    }
    .reviews-p{
        text-align: center;
        margin: 0px;
    }
}
.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   

}
.reviews{
    background-image: url(/img/mobile-circles/reviews\ decor.png);
    background-repeat: no-repeat;
}
.participants{
    & :nth-child(2){
        >img{
            border-radius: 50%;
        }

      & >p::before{
        
        margin: 0 auto;
        display: block;
        content: "";
        height: 25px;
        width: 137px;
        background-image: url(/img/filled-star.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
        >p{
            @include txt("Montserrat", 500, 14px, 17px, 0.03px, $dark-text,none, center);   
            margin-top: 5px;
        }
    }

}
.reviews-p{
    width: 280px;
    @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, center);   
}
.slider{
    display: flex;
    margin: 40px auto;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    & .decor-line{
        height: 1px;
        width: 35px;
        background-color: #F3848C;
    }
    >p{
        @include txt("Montserrat", 400, 14px, 17px, 0.03px, $dark-text,none, center);   

    }
}
