.participants_el:nth-child(2n+1){
    display:none;
}
.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   

}
.reviews{
    background-image: url(/img/mobile-circles/reviews\ decor.png);
    background-repeat: no-repeat;
}
.participants{
    & :nth-child(2){
        >img{
            border-radius: 50%;
        }

      & >p::before{
        
        margin: 0 auto;
        display: block;
        content: "";
        height: 25px;
        width: 137px;
        background-image: url(/img/filled-star.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
        >p{
            @include txt("Montserrat", 500, 14px, 17px, 0.03px, $dark-text,none, center);   
            margin-top: 5px;
        }
    }

}
.reviews-p{
    width: 280px;
    @include txt("Montserrat", 400, 16px, 20px, 0.03px, $dark-text,none, center);   
}
.slider{
    display: flex;
    margin: 40px auto;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    & .decor-line{
        height: 1px;
        width: 35px;
        background-color: #F3848C;
    }
    >p{
        @include txt("Montserrat", 400, 14px, 17px, 0.03px, $dark-text,none, center);   

    }
}
@media screen and (min-width:768px){
    .reviews{
        padding-bottom: 40px;
        background-image: url(/img/tablet-circles/reviews-bg.svg);
        background-position: 60px 50px;
    }
    .title{
        @include txt("Montserrat Alternates", 500, 32px, 30px, 0.03px, $dark-text,none, center);   
    
    }
    .participants{
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 0px;
        margin-bottom: 25px;
        .participants_el{
            >img{
                border-radius: 50%;
            }
            &:nth-child(2){
                margin-top: 75px;
            }
            &:nth-child(2n+1){
                display:block;
                & img{
                    width: 151px;
                    height: 151px;
                }
            }
    
          & p::before{
            margin: 0 auto;
            display: block;
            content: "";
            height: 25px;
            width: 137px;
            background-image: url(/img/filled-star.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
        &:first-child {
            & p::before{
                margin: 0 auto;
                display: block;
                content: "";
                height: 25px;
                width: 137px;
                background-image: url(/img/empty-star.svg);
            }
        }
            >p{
                @include txt("Montserrat", 500, 14px, 17px, 0.03px, $dark-text,none, center);   
                margin-top: 5px;
            }
        }
        
    }
    .reviews-p{
        margin: 0 auto;
        width: 720px;
        & span{
            display: block;
        }
    }
}
@media screen and (min-width:1200px){
    .reviews-p{
        margin: 0 auto;
        width: 970px;
    }
    .reviews{
        background-image: url(/img/desc-circles/rewews-circle.svg);
        background-position: 320px 2px;
        background-repeat: no-repeat;
    }
    .div-p{
        padding-top: 40px;
        height: 110px;
        background-image: url(/img/desc-circles/circle-rewews.svg);
        background-position: 130px 0px;
        background-repeat: no-repeat;
    }
    .participants{
        display: flex;
        justify-content: center;
        gap: 32px;
        padding: 0px;
        margin-bottom: 25px;
    .participants_el{
            >img{
                border-radius: 50%;
            }
            &:nth-child(2){
                margin-top: 75px;
                // !!!
                >img{
                    width:  394px;
                    height: 394px;
                }
            }
            &:nth-child(2n+1){
                display:block;
                & img{
                    width:  288px;
                    height: 288px;
                }
            }
        }
}
}