@media screen and (min-width:768px){
    .speakers{
        padding: 20px 0px 77px;
    }
    .speakers-ul{
    &_el{
        width: 152px;
        & img{
            width: 152px;
        }
    }
}
}
.speakers{
    background-image: url(/img/mobile-circles/speakers\ decor.png);
    background-repeat: no-repeat;
    background-position: 130px 20px;
}
.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
}
.speakers-ul{
    display: flex;
    flex-wrap: wrap;
     gap:20px;
}
.speakers-ul_el{
    >div{
        >img{
            width: 130px;
            height: 145px;
        }
    }
    >h3{
        @include txt("Montserrat", 600, 16px, 20px, 0.03px, $dark-text,none, center);   
    }
    >p{
        @include txt("Montserrat", 500, 12px, 15px, 0.03px, $dark-text,none, center);   
        width: 130px;
    }
}