.speakers{
    background-image: url(/img/mobile-circles/speakers\ decor.png);
    background-repeat: no-repeat;
    background-position: 130px 20px;
}
.title{
    @include txt("Montserrat Alternates", 500, 23px, 30px, 0.03px, $dark-text,none, center);   
    @media screen and (min-width:1200px){
        @include txt("Montserrat Alternates", 500, 32px, 39.01px, 0.03px, $dark-text,none, center);  
    }
}
.speakers-h3{
    @include txt("Montserrat", 600, 16px, 19.5px, 0.03px, $dark-text,none, center); 
    @media screen and (min-width:768px){
        @include txt("Montserrat", 500, 18px, 21.94px, 0.03px, $dark-text,none, center);  
    }
}

.speakers-p{
    @include txt("Montserrat", 500, 12px, 14.63px, 0.03px, $dark-text,none, center);  
    @media screen and (min-width:768px){
        @include txt("Montserrat", 500, 14px, 17.07px, 0.03px, $dark-text,none, center);  
    }
    @media screen and (min-width:768px){
        @include txt("Montserrat", 500, 16px, 19.5px, 0.03px, $dark-text,none, center);  
    }
    @media screen and (min-width:1200px){
        margin: 0 auto;
    }
}
.speakers-ul{
    display: flex; 
    flex-wrap: wrap;
    gap:20px;
}
.speakers-ul_el{
    >div{
        >img{
            width: 130px;
            height: 145px;
        }
    }
    >h3{
        @include txt("Montserrat", 600, 16px, 20px, 0.03px, $dark-text,none, center);   
    }
    >p{
        @include txt("Montserrat", 500, 12px, 15px, 0.03px, $dark-text,none, center);   
        width: 130px;
    }
}
@media screen and (min-width:768px){
    .speakers{
        padding: 20px 0px 77px;
        background-image: url(/img/tablet-circles/speakers-bg.svg);
        background-position: top;
        background-repeat: no-repeat;
    }
    .speakers-ul{
         gap:32px;
    }
.speakers-ul_el{
    >div{
        >img{
            width: 152px;
            height: 160px;
        }
    }
    >h3{
        @include txt("Montserrat", 600, 18px, 20px, 0.03px, $dark-text,none, center);   
    }
    >p{
        @include txt("Montserrat", 500, 14px, 15px, 0.03px, $dark-text,none, center);   
        width: 152px;
    }
}
}
@media screen and (min-width:1200px){
    .speakers-ul{
        justify-content: center;
        gap: 32px;
    }
    .img-speakers{
        width: 20px;
        height: 30px;
    }
}
@media screen and (min-width:1200px){
    .speakers-ul_el{
        >div{
            >img{
                width:  288px;
                height: 288px;
            }
        }
    }
    .speakers{
        background-image: url(/img/desc-circles/speakes-circle.svg);
        background-position: top;
        background-repeat: no-repeat;
    }
}